* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 2fr; /* 1/3 para aside, 2/3 para main */
    grid-template-rows: auto 1fr auto; /* Auto height para header e footer, flexível para o conteúdo */
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    grid-area: main;
    background-color: #f1f1f1;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: #ccc;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h2{
    text-align: center;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr; /* Colocar uma coluna única */
    }
}
